global:
  nodeSelector:
    type: dependent_services

server:
  service:
    type: NodePort

controller:
  metrics:
    rules:
      enabled: true #disable if not using log and monitoring
      # namespace: "observability"
      selectors:
        rules: alerting
      spec:
        - name: service-restart-alerts
          rules:
            - alert: ArgoCDRestarted     
              expr: sum by (pod) (increase(kube_pod_container_status_restarts_total{pod=~"argocd-server.*"}[5m])) > 0 #Check the pods name and also not per container check
              labels:
                severity: critical
                team: devops
              annotations:
                summary: "ArgoCD restarted"
                description: "ArgoCD pod restarted in the last 10 minutes."
