__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.log
tests/
.git
venv/
k8s-manifests/
Makefile
docker-compose.baremetal.yml
docker-compose.yml
requirements.dev.txt
pytest.ini
.coverage
.coverage.*
**/__pycache__/
*.py[cod]
*$py.class
Dockerfile