services:
  nginx:
    image: nginx:latest
    container_name: nginx_container
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      backend-1:
        condition: service_healthy
      backend-2:
        condition: service_healthy
    restart: always
    networks:
      - appnet

  backend-1:
    build: .
    container_name: backend_container_1
    # ports:
    #   - "8081:5000"
    env_file:
      - .env
    restart: always
    networks:
      - appnet
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/healthcheck"]
      interval: 10s
      timeout: 3s
      retries: 5

  backend-2:
    build: .
    container_name: backend_container_2
    # ports:
    #   - "8082:5000"
    env_file:
      - .env
    restart: always
    networks:
      - appnet
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/healthcheck"]
      interval: 10s
      timeout: 3s
      retries: 5

  migrate:
    build:
      context: .
    container_name: migrate_container
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    command: >
      sh -c "echo 'Running migrations...' &&
             flask db upgrade &&
             echo 'Migrations complete.'"
    restart: "no"
    networks:
      - appnet

  db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - appnet
    restart: always

volumes:
  pg-data:

networks:
  appnet:
    driver: bridge
