apiVersion: v1
kind: Namespace
metadata:
  name: student-api
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  labels:
    app: backend
  namespace: student-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      nodeSelector:
        type: application
      initContainers:
        - name: wait-for-postgres
          image: postgres:16-alpine
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: db-secrets
          command: ['sh', '-c']
          args:
            - |
              echo "Waiting for PostgreSQL at $POSTGRES_HOST:$POSTGRES_PORT..."
              until pg_isready -h $POSTGRES_HOST -p $POSTGRES_PORT -U $POSTGRES_USER; do
                echo "PostgreSQL is unavailable - sleeping for 2 seconds"
                sleep 2
              done
              echo "PostgreSQL is ready!"
        - name: migrate-container
          image: bilal7191/backend-backend:v1.0.1
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: db-secrets
          command: ["sh", "-c"]
          args: ["echo 'Running migrations...' && flask db upgrade && echo 'Migrations complete.'"]
      containers:
        - name: backend-container
          image: bilal7191/backend-backend:v1.0.1
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: db-secrets
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
  namespace: student-api
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: student-api
data:
  FLASK_ENV: "production"
  POSTGRES_HOST: "postgres-service"
  POSTGRES_PORT: "5432"
  LOG_LEVEL: "INFO"
---
# Secrets From Vault